*.iml
.idea
.idea/
.gradle
/local.properties
.DS_Store
build/
/captures
.externalNativeBuild
app/build
build
google-services.json
awsconfiguration.json
.git.bfg-report
Constants.kt
google_maps_api.xml
gradle.properties
aws_constants.xml
keystore.properties
